<div class="row" >
    <div class="card w-100 mb-3">
        <img src="src/banner.jpg" class="img-fluid" alt="Responsive image">
      </div>
    <div class="col-sm-6 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">GLOBAL HOUSING WATCH</h1>
          <p class="card-text">The Global Housing Watch tracks developments in housing markets across the world on a quarterly basis. It provides current data on house prices as well as metrics used to assess valuation in housing markets, such as house price‑to‑rent and house-price‑to‑income ratios.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Related Information: </h5>
        
          <ul>
            <li><a href="https://blogs.imf.org/2016/12/08/global-house-prices-time-to-worry-again/">Global House Prices: Time to Worry Again?</a></li>
            <li><a href="http://blog-imfdirect.imf.org/2014/12/10/managing-house-price-booms-in-emerging-markets/">Blog: Managing House Price Booms in Emerging Markets</a></li>
            <li><a href="/external/research/housing/pdf/SevenQuestions.pdf">Seven Questions on the Global Housing Markets</a></li>
            <li><a href="http://blog-imfdirect.imf.org/2014/06/11/era-of-benign-neglect-of-house-price-booms-is-over/&#10;">Blog: Era of Benign Neglect of House Price Booms is Over</a></li>
          <li><a href="/external/pubs/ft/survey/so/2014/NEW061114A.htm">New Global Housing Watch Throws Spotlight on Booms and Busts</a></li>
          <li><a href="/external/np/speeches/2014/060514.htm">Speech: Housing Markets, Financial Stability and the Economy</a></li>
            <li><a href="http://www.imf.org/external/ns/cs.aspx?id=333">IMF News on House Prices</a></li>
            <li><a href="http://www.imf.org/external/ns/cs.aspx?id=337">IMF Publications on Housing Prices</a></li>
            <li><a href="/external/np/res/jobs/">Jobs and Growth</a></li>    
            </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">App Description</h6>
          <p>The main objective of the project is the realization of a single page web application
              application for data visualization from a document orientated database
              MongDB </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Used Technologies</h6>
          <p>
            <a >Angular 6</a>
          </p>
          <p>
              <a >Node js</a>
            </p>
            <p>
                <a >MongoDB 6</a>
              </p>
          <p>
            <a >Chart.js</a>
          </p>

          <p>
            <a >Bootstrap Angular</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="https://www.imf.org/external/research/housing/index.htm">The Data set source</a>
          </p>
          <p>
            <a href="https://www.imf.org/external/index.htm">International Monetary Fund</a>
          </p>

        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Info</h6>
          <p>
            <i class="fas fa-home mr-3"></i> Sarrar Zouhir</p>
         

        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  

  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->