<div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
    
      
  </div>
<table class="table table-hover">
    <thead>
    <tr>
        <td><b>country_C</b></td>
        <td><b>real_credit_growth_in_annual_percent_change</b></td>
       
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let adunit of adunits">
            <td>{{ adunit.country_C }}</td>
            <td>{{ adunit.real_credit_growth_in_annual_percent_change }}</td>
            
        </tr>
    </tbody>
  </table>
  